modules = ["java-graalvm22.3"]
run = "start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "start"]

[workflows]
runButton = "Run Java"

[[workflows.workflow]]
name = "Run Java"
author = 39251440
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export DISPLAY=:0"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "Xvfb :0 -screen 0 1024x768x24 -ac &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 2"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "xhost +"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "javac -d . src/**/*.java"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java model.Main"
